<!--
    Navbar:
    1: a dropdown that links to each author
    2: link to popularity page
    3: link to the submit a new post page
  -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">NASA API: Space is Neat!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Picture of the Day</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Astronomy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Mars Rover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Earth</a>
        </li>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NeoWs
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/">Search</a>
            <a class="dropdown-item" href="/">Browse</a>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Subscribe!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
