<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<br>
<h1><center>Astronomy</center></h1><br>
<link rel="icon" type="image/png" href="images/logo.png" />
<center><h2 id = "title"></h2></center>
<center><img id = "dailyImage" src = "" width = "80%"/></center><br><br>
<div id = "explanation">
</div><br>
<h6><a href="/">Learn More</a></h6>
<h6><a href="/">View Index</a></h6>
<br>
<script>
  function getDailyImage(){
    //return the link and Description
    return fetch("https://api.nasa.gov/planetary/apod?api_key=sO5IxzzW7mtK9uXAITFi5RXRRO3eJeljRYlsKmkU")
    .then(response=>response.json())
    .then(data=>{
      let title = document.getElementById("title");
      let imageElement = document.getElementById("dailyImage");
      let explanationDiv = document.getElementById("explanation");
      imageElement.src = data.hdurl;
      explanationDiv.innerHTML = data.explanation;
      title.innerHTML = data.title;
    });
  }
  let data = getDailyImage();
</script>
<%- include('partials/footer') -%>
