<%- include('partials/header', {title:"NASA API: Space is Neat!", "user": user}) -%>
<body class="space">
  <% if(user){%>
    <h1><center>Welcome <%-user.emails[0].value%>, to the Nasa API!</center></h1>
    <h2><center>Space is Neat</center></h2>
  <%} else{%>
    <br>
    <center><h1>Nasa API!</h1>
    <br><br>
    <center><h3><a href="/login">Login</a></h3></center>
  <%}%>
<br>
<view class="space">
        <view class="stars">
            <view class="star"></view>
            <view class="star pink"></view>
            <view class="star blue"></view>
            <view class="star yellow"></view>
        </view>
</view>
<br><br>
</body>
<%- include('partials/footer') -%>
