<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>

<br>
<h1><center>Welcome to the Nasa API!</center></h1>
<h2><center>Space is Neat</center></h2>
  <br>
  <h3><center><a href="/potd.html">Click here to see latest Picture of the Day!</a></center></h3>
  <br><br>
  <%- include('partials/footer') -%>
