<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<body class="space">
<h1><center>Log in!</center></h1>
<br>
<view class="space">
        <view class="stars">
            <view class="star"></view>
            <view class="star pink"></view>
            <view class="star blue"></view>
            <view class="star yellow"></view>
        </view>
</view>

<br><br>
</body>

<div class="container">
  <div class="jumbotron text-center text-primary">
    <p>Login with:
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
    </p>
  </div>
</div>

<%- include('partials/footer') -%>
