<%- include('partials/header', {title:"NASA API: Space is Neat!", user: user}) -%>
<body class = space>
<div class="container">
  <div class="jumbotron text-center text-primary">
    <h1><span class="fa fa-lock"></span> Login to Enter Nasa API!</h1>
    <p>Login with:
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
    </p>
  </div>
</div>
<view class="space">
        <view class="stars">
            <view class="star"></view>
            <view class="star pink"></view>
            <view class="star blue"></view>
            <view class="star yellow"></view>
        </view>
</view>
</body>
<%- include('partials/footer') -%>
