<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>

<br>
<h1><center>Mars Rover</center></h1><br>
<h3>Descripton about the purpose of the Mars Rover</h3>
<link rel="icon" type="image/png" href="images/logo.png" />
<h4>Description of the Picture</h4>
<h5><a href="/">Learn More</a></h5>
<h5><a href="/">View Index</a></h5>
  <br>
  <%- include('partials/footer') -%>
<!-- use module% -->
