<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>

<br>
<h1><center>Mars Rover</center></h1><br>
<h3>Descripton about the purpose of the Mars Rover</h3>
<link rel="icon" type="image/png" href="images/logo.png" />
<center><img id = "marsImage" src = "" width = "80%"/></center><br><br>
<h3 id = "imageDate"></h3>
<h3 id = "roverName"></h3>
<h4 id = "launchDate"></h4>
<h4 id = "landDate"></h4>
<h4 id = "fullName"></h4>
<h4 id = "status"></h4>
<h6><a href="/">Learn More</a></h6>
<h6><a href="/">View Index</a></h6>


<script>
  function getMarsImage(){
    let today = new Date();
    let start = new Date(2021, 00, 01);
    let sol = Math.floor((today-start)/1000/60/60/24);
    //return the link and Description
    return fetch("https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol="+ sol +"&api_key=sO5IxzzW7mtK9uXAITFi5RXRRO3eJeljRYlsKmkU")
    .then(response=>response.json())
    .then(data=>{
      let image = document.getElementById("marsImage");
      let roverName = document.getElementById("roverName");
      let launchDate = document.getElementById("launchDate");
      let landDate = document.getElementById("landDate");
      let fullName = document.getElementById("fullName");
      let status = document.getElementById("status");
      let imageDate = document.getElementById("imageDate");
      let imageNum = (today.getDate()%data.photos.length);
      imageDate.innerHTML = data.photos[imageNum].earth_date;
      image.src = data.photos[imageNum].img_src;
      roverName.innerHTML = data.photos[imageNum].rover.name;
      launchDate.innerHTML = data.photos[imageNum].rover.launch_date;
      landDate.innerHTML = data.photos[imageNum].rover.landing_date;
      fullName.innerHTML = data.photos[imageNum].camera.full_name;
      status.innerHTML = data.photos[imageNum].rover.status;
      //now you have to display only one of the images.
      //
    });
  }
  let data = getMarsImage();
</script>

<!--<h5><a href="/">Learn More</a></h5>
<h5><a href="/">View Index</a></h5>-->

  <%- include('partials/footer') -%>
<!-- use module% -->
