<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<br>
<h1><center>NeoWs</center></h1><br>
<h3>Magnitude:</h3><h3 id = "magnitude">Magnitude</h3>
<h3>Name:</h3><h3 id = "name"></h3>
<h3>Is Hazardous:</h3><h3 id = "hazard"></h3>
<h3>Max Diameter</h3><h3 id = "diameterMax"></h3>
<h3>Min Diameter</h3><h3 id = "diameterMin"></h3>
<br>
<script>
  function getNeoWs(){
    let today = new Date();
    let month = today.getMonth() + 1;
    if(month < 10){
      month = "0" + month;
    }
    let date = today.getDate();
    if(date < 10){
      date = "0" + date;
    }
    let dayString = today.getFullYear() + "-" + month + "-" + date;
    return fetch("https://api.nasa.gov/neo/rest/v1/feed?start_date="+ dayString + "&api_key=sO5IxzzW7mtK9uXAITFi5RXRRO3eJeljRYlsKmkU")
    .then(response=>response.json())
    .then(data=>{
      console.log(dayString);
      let asteroids = data.near_earth_objects[dayString];
      let rock = asteroids[asteroids.length-1];
      console.log(rock);
      let magnitude = document.getElementById("magnitude");
      let name = document.getElementById("name");
      let hazard = document.getElementById("hazard");
      let diameterMax = document.getElementById("diameterMax");
      let diameterMin = document.getElementById("diameterMin");
      magnitude.innerHTML = rock.absolute_magnitude_h;
      name.innerHTML = rock.name;
      hazard.innerHTML = rock.is_potentially_hazardous_asteroid;
      diameterMax.innerHTML = rock.estimated_diameter.feet.estimated_diameter_max;
      diameterMin.innerHTML = rock.estimated_diameter.feet.estimated_diameter_min;
    });
  }
  let data = getNeoWs();
</script>
<h6><a href="/">Learn More</a></h6>
<h6><a href="/">View Index</a></h6>
<br>

<%- include('partials/footer') -%>
