<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<br>
<h1><center>NeoWs</center></h1><br>
<br>
<h6><a href="/">Learn More</a></h6>
<h6><a href="/">View Index</a></h6>
<br>
<%- include('partials/footer') -%>
