<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<br>
<h1><center>Subscribe!</center></h1><br>
<form action="/">
  <input type="checkbox" id="potd" name="potd" value="potd">
  <label for="potd">Picture of the Day</label><br>
  <label for="fname">Email:</label>
  <input type="text" id="email" name="email" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
<br>
<%- include('partials/footer') -%>
