<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<br>
<h1><center>Subscribe!</center></h1><br>
<link rel="icon" type="image/png" href="images/logo.png" />
<label for="email">Title:</label>
<input type="text" id="email" name="email" value=""><br>
<br>
<%- include('partials/footer') -%>
