<%- include('partials/header', {title:"NASA API: Space is Neat!"}) -%>
<br>
<h1><center>Subscribe!</center></h1><br>
<form action="/">
  <label for="fname">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>
  <input type="submit" value="Submit">
</form>
<br>
<%- include('partials/footer') -%>
